footer {
	position: absolute;
	bottom: 0;
	font-size: 1.8em;
	line-height: 2em;
	width: 100vw;
}

.contact-grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "a1 a2 a3";
	text-align: center;
}

.a1 {
	grid-area: a1;
}
.a2 {
	grid-area: a2;
}
.a3 {
	grid-area: a3;
}